body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background: grey;
    display: flex;
    width: 100%;
    text-align: left;
    box-shadow: 5px 5px 5px black;
    margin-top: 0;
    border-radius: 3px;
}

nav h1 {
    padding-left: 1em;
    padding-top: .5em;
}

.index-logo {
    width: 75px;
    height: auto;
}

main {
    min-height: max-content;
    max-height: max-content;
    box-shadow: 5px 5px black;
    background-color: gray;
    border-radius: 5px;
    margin-top: 50px;
}

main h2 {
    text-align: center;
    padding: 1.5em 0 .5em 0;
}

.main-container {
    display: flex;
    text-align: center;
}

.item-container {
    flex: 1;
    display: block;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin: 0 0 2em 2em;
    border-radius: 5px;
}

.item-container:nth-child(3) {
    margin-right: 2em;
}

.item-container p {
    font-size: 19px;
}

.recipe-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}






