* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}

.ind-body {
    background-color: #f8f9fa;
}

.ind-logo {
    width: 75px;
    height: 100%;
    border-bottom: 1px solid white;
}

.ind-nav, .ind-header, 
.ind-main, .ind-item-container, 
.las-recipe-img, .las-item-container,
.nav-button {
    border-radius: 10px;
}

.ind-nav, .ind-flex-container {
    display: flex;
}

.ind-nav {
    background: rgba(40, 40, 40, .8);
    backdrop-filter: blur(5px);
    z-index: 5;
    width: 100vw;
    text-align: left;
    margin-top: 0;
    color: #f8f9fa;
    overflow: hidden;
    position: fixed;
    top: 0;
    
}

.ind-nav h1 {
    padding: .5em 0 0 1em;
    font-weight: 300;
}

.ind-header, .ind-item-container {
    background-color: white;
}

.ind-header {
    margin-top: 5em;
    color: black;
    width: 100vw;
    min-height: 200px;
}

.ind-header-p, .ind-item-container p, .cin-header-p {
    color: grey;
}

.ind-header-p, .cin-header-p {
    text-align: center;
    margin: 0 200px;
}

.cin-header-p {
    padding-bottom: 1em;
}

.ind-header h1 {
    text-align: center;
    margin: 0;
    padding-top: 1.5em;
    font-weight: 100;
}

.ind-main {
    min-height: max-content;
    max-height: max-content;
    margin-top: 2em;
}

.flex-container, .ind-item-container,
.las-img-center {
    text-align: center;
}

.flex-container {
    display: flex;
}

.ind-item-container {
    flex: 1;
    display: block;
    margin: .5em 0 2em 2em;
}

.ind-item-container:nth-child(3) {
    margin-right: 2em;
}

.ind-item-container p {
    font-weight: 400;
    padding: 0 1em 0 1em;
}

.ind-recipe-img {
    width: 100%;
    height: auto;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

/* recipe template start */
.nav-button, .nav-button:hover,
.nav-button::after {
    font-weight: 100;
}

.nav-button {
    background-color: #007bff;
    color: white;
    text-align: center;
    border: .1px solid white;
    width: 100px;
    height: 50px;
    font-size: 18px;
    padding: 0;
}

.nav-button:hover {
    color: black;
    background-color: #d9dde0;
}

.nav-button::after {
    background-color: black;
    color: white;
}

.las-button-container {
    width: 100%;
    text-align: right;
    padding: 1.2em 2em 0 0;
}

.las-recipe-img {
    width: 300px;
    height: auto;
}

.las-item-container {
    flex: 1;
    display: block;
    margin: 2em 1em 0 1em;
    font-weight: 300;
    padding: 1em;
    background-color: white;
    flex-wrap: wrap;
}

.las-item-container ul {
    list-style: circle;
}

.las-item-container h4 {
    font-size: 20px;
    text-align: center;
}

.las-item-container ol {
    padding: 0 3em;
}

.las-item-container ol li {
    padding: 1em 0;
}

.las-item-container ul li {
    padding: .5em 1em;
}
